
<%-include("header")-%>
<h1> This is my About page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aut autem consequuntur distinctio dolore ea eligendi exercitationem fuga illo labore laborum maxime modi officia pariatur, quidem quo ratione tempora! Officia!</p>
<%-include("footer")-%>