<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
</head>
<body>

<h1>   <%= KindofDay %> </h1>
<% for (var i= 0 ; i< NewItemlists.length ; i++) {%>
<li> <%= NewItemlists[i]%> </li>
<%}%>
<form action="/" method="post" >
    <input type="text" name="newItem">
    <button type="submit" name="button">Add</button>
</form>

</body>
</html>